//colours
$white: #ffffff;
$light-grey: #efefef;
$mid-grey: #aaaaaa;
$deep-koamaru: #333366;
$branding-primary: $deep-koamaru;
$brand-secondary: $mid-grey;
$branding-text-alt: $white;

//breakpoints
$breakpoint-md-max: 991px;
$breakpoint-lg-min: 992px;